@mixin dateStyle(){
	font-size: 12px;
	color: #a7a7a7;
}
@mixin narrowOne{
    content: '';
    display: block;
    background: url(../img/a.png);
    width: 7px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
@mixin clearfix{
	content:'';
	display:block;
	clear:both;
}
.events-list{
	.events-item{
		border-top: 1px solid #eaeaea;
		padding: 25px 0 20px;
		&:first-child{
			border-top: 0px;
			padding-top: 0px;
		}
		&:after{ 
			content:''; 
			display:block; 
			clear:both;}
		> {
          a img,img{
				max-width: 300px;
				max-height: 152px;
				width: 31%;
				float: left;
				@media only screen and (max-width: 640px) {
					display: none;
				}
			}			
		}

		.des{
			max-width: 672px;
			width: 69%;
			padding-left: 29px;
			float: left;
			position: relative;
			top: -5px;
			@media only screen and (max-width: 640px){
				width: 100%;
				padding: 0;
				font-size: 16px;
			}
			&:before{
				content: '';
			    display: block;
			    width: 20px;
			    height: 20px;
			    position: absolute;
			    background: url(../img/icons.png) -30px -22px no-repeat;
			}
			.article{
				padding-left: 25px;
				font-size: 18px;
                a{color: #797979;}
			}
			.date{
				@include dateStyle();
				line-height: 20px;
			}
			> {
				img,a img{
					width: 100%;
					margin: 5px 0;
					@media only screen and (min-width: 641px) {
						display: none;
					}				
				}				
			}

			.intro{
				margin-top:10px;
				max-height: 74px;
				@media only screen and (max-width: 640px) {
					min-height: 0;
				}		
			}
			.link{
				color: #8e8e8e;
				position: relative;
				bottom: 0px;
				display: inline-block;
				&:before{
					@include narrowOne();
					top: 5px;
					right: -12px;
					@-moz-document url-prefix() {
						top: 6px;
					}
				}
			}			
		}

	}
}

.events-in{
	.sider-bar{
		.article{
			color: #e50011;
			font-size: 22px;
			@media only screen and (max-width: 640px){
				padding: 20px 0 10px;
			}
		}
		.date{
			@include dateStyle();
			float: left;
			line-height: 30px;	
		}
		.count{
			float: right;
			border: 1px solid #d5d5d5;
			position: relative;
			padding: 5px 10px;
			border-radius: 2px;

			&:before{
				content:'';
				display: block;
				width: 30px; 
				height: 18px;
				position: absolute;
				background: url(../img/heart.png) 0 0 no-repeat;
				left: -33px;
				top: 8px;
			}
			&:after{
				content:'';
				display: block;
				width: 30px; 
				height: 18px;
				position: absolute;
				background: url(../img/arrow_icon2.jpg) 0 0 no-repeat;
				left: -9px;				
				top: 10px;
			}
			&.active, &:hover{
				&:before{
					background: url(../img/heart.png) 0 -23px no-repeat;
				}
			}
		}
	}
	.content-inner{
        .slider-one{
        	.bx-wrapper{
	            @media (min-width:767px) {
	            	max-height: 474px;    
	                overflow: hidden;
	            }        		
        	}

        }

	}
	.bx-pager{
		position: absolute;
		bottom: 15px;
	}

}

.related{
	margin-top: 30px;

	> {
		.title{
			border-top: 1px solid #eaeaea;
			font-size: 18px;
			color: #003730;
			padding: 9px 0;
			@media only screen and (max-width: 991px){
				padding: 9px 20px;
			}
			.container{
				padding: 0px;
			}
		}		
	}

	.list-item{
		background-color: #eaeaea;
		padding: 30px 0;
		@media only screen and (max-width: 991px){
			padding: 30px 20px;
		}		
		.container{
			padding: 0px;
		}
		.slider{
			margin-right: -16px;
			position: relative;
			&:after{
				@include clearfix();
			}
		}
		.item{
			color: #4c4c4c;
			background-color: #fff;
			padding: 20px 0 20px 16px;
			border-right:16px solid #eaeaea;
			cursor: pointer;
			@media only screen and (max-width: 991px){
				border-right: 0px;
			}
			@media only screen and (max-width: 640px){
				padding: 20px 16px;
			}
			img{
				width: 27%;
				float: left;
			    max-width: 78px;
	   			max-height: 60px;
	   			@media only screen and (max-width: 640px){
					width: 100%;
					max-width: inherit;
					max-height: inherit;
				}
			}
			.title{
				float: left;
				width: 73%;
				padding-left: 38px;
	    		position: relative;
	    		@media only screen and (max-width: 640px){
					width: 100%;
					line-height: 26px;
					margin: 10px 0 0;
					padding-left: 23px;
				}
				&:before{
				    content: '';
				    display: block;
				    width: 20px;
				    height: 20px;
				    position: absolute;
				    background: url(../img/icons.png) -30px -22px no-repeat;
				    left: 12px;
				    @media only screen and (max-width: 640px){
						left: 0px;
						top: 1px;
					}
				}			
			}
			.date{
				@include dateStyle();
				width: 73%;
				float: left;
				padding-left: 38px;
				@media only screen and (max-width: 640px){
					padding-left: 23px;
				}
			}			
		}

	}
	.slider-btn{
		float: right;
		text-align: right;
		.slider-prev{
			width: 23px; 
			height: 22px;
			display: inline-block;
			background-color: #003730;
		}
		.slider-next{
			width: 23px; 
			height: 22px;	
			display: inline-block;	
			background-color: #003730;	
		}
		a{
			color: #fff;
			display: block;
			width: 100%;
			text-align: center;
			line-height: 21px;
			span{
				font-size: 14px;
			}
		}
	}
}


.feature-btn{
	margin: 17px 0 0;
	padding: 0;
	text-align: center;
	> {
		li{
			float: left;
			margin-right: 6px;
			position: relative;
			list-style-type: none;
			@media only screen and (max-width:640px){
				float: none;
				display: inline-block;

			}
			&:hover,:focus{
				ul{
					display: block;
					border: 1px solid #eeeeee;
				    padding: 8px;
				    border-radius: 3px;
				    position: absolute;
				    left: -94px;
				    top: 43px;				
				    @media only screen and (max-width: 640px){
						top: 54px;
						left: -173px;
					}
				}
			}
			ul{
				display: none;
				position: absolute;
				margin: 0;
				padding: 0;
				width: 209px;
				background-color: #fff;
				@media only screen and (max-width: 640px){
					width: 250px;
					top: 54px;
					left: 173px;
				}
				> {
					li{
						display: inline;
						margin-right: 6px;
						list-style-type: none;
						&:last-child{
							margin-right: 0px;
						}
					}				
				}
				&:before{
					content:'';
					display: block;
					width: 30px;
					height: 30px;
					background: url(../img/arrow_icon3.png) 0 10px no-repeat;
					position: absolute;
					top: -17px;
					left: 97px;
					@media only screen and (max-width: 640px){
						left: 180px;
					}
				}			
			}
          ul.qr_icon{width: 125px;left: -50px;
            &:before{ content:'';left: 53px;}
            @media only screen and (max-width: 640px){
					width: 125px;
					left: -45px;
				}
          }


		}
	}
}

.clearblock{
	&:after{
		@include clearfix();
	}
}
.cuspage{
	&:after{
		@include clearfix();
	}
	.sider-bar{
		width: 25%;
		max-width: 238px;
		padding-right: 18px;
		float: left;
		@media only screen and (max-width: 991px){
			width: 35%;
		}
		@media only screen and (max-width: 640px){
			max-width: initial;
			width: 100%;
		}
	}
	.content-inner{
		width: 75%;
		float: left;
		padding-left: 18px;
		border-left: 1px solid #d5d5d5;
		@media only screen and (max-width: 991px){
			width: 65%;
		}
		@media only screen and (max-width: 640px){
			width: 100%;
			padding-left: 0px;
			border-left: 0px;
		}
		.inner{
			margin-top: 30px;
			a{
				word-break: break-all;
			}
		}
	}
}

.slider-one{
	img{
		width:100%;
	}
	.bx-wrapper{
		.bx-prev{
			background-position: 18px 14px;
		    width: 60px;
		    height: 60px;
		    left: 0;
		    background-color: rgba(0,0,0,0.075);;
		}
		.bx-next{
			background-position: -25px 14px;
		    width: 60px;
		    height: 60px;
		    right: 0;
		    background-color: rgba(0,0,0,0.075);;
		}			
	}

}

.pager-type{
	text-align: center;
	color: #a1a1a1;
	line-height: 1.42857143;
	margin-top: 45px;
	@media only screen and (max-width: 640px){
		margin-bottom: 15px;
	}
}

.pagination {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0;
  margin: 0;
  > {
    li {
      display: inline;
      > {
        a, span {
          position: relative;
          float: left;
          padding: 6px 16px;
          
          text-decoration: none;
          color: #a1a1a1;
          margin-left: -1px;
        }
      }
      &:first-child > {
        a, span {
          margin-left: 0;
        }
      }
      &:last-child > {
        a, span {
        }
      }
      > {
        a:hover, span:hover, a:focus, span:focus {
          z-index: 3;
          color: #23527c;
        }
      }
    }
    .active > {
      a, span, a:hover, span:hover, a:focus, span:focus {
        z-index: 2;
        cursor: default;
        text-decoration: underline;
      }
    }
    .disabled > {
      span {
        color: #777777;
        background-color: #ffffff;
        border-color: #dddddd;
        cursor: not-allowed;
        &:hover, &:focus {
          color: #777777;
          background-color: #ffffff;
          border-color: #dddddd;
          cursor: not-allowed;
        }
      }
      a {
        color: #777777;
        background-color: #ffffff;
        border-color: #dddddd;
        cursor: not-allowed;
        &:hover, &:focus {
          color: #777777;
          background-color: #ffffff;
          border-color: #dddddd;
          cursor: not-allowed;
        }
      }
    }
  }
}
.pagination-ext{
	display: inline-block;
	margin-left:30px;
	position: relative;
	top: 1px;
	@media only screen and (max-width: 640px){
		text-align: center;
		margin: 20px 0 0;
	}
	.jump-page{
		border: 0px;
		width: 22px; 
		height: 22px;
		border-radius:4px;
		background-color: #eeeeee;
		box-shadow: 2px 2px 4px 0px rgba(51,51,51,0.2) inset;
		margin: 0 8px;
		text-align: center;
		@media only screen and (max-width: 640px){
			width: 43px;
			height: 40px;
		}
	}
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #a3a3a3;
}
@media only screen and (max-width: 640px){
	.hidden-mobile{
		display: none!important;
	}
}
@media only screen and (min-width: 641px){
	.visible-mobile{
		display: none!important;
	}	
}
.loading{
	position: relative;
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: 32px;
		height: 32px;
		background: url(../img/ajax-loader.gif) 0 0 no-repeat;
		right: -42px;
		top: -2px;
	}
}